<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Pawprint Chronicles</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {{!--
  <link rel="stylesheet" type="text/css" href="/public/css/materialize.css" media="screen,projection"> --}}
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<style>
  * {
    margin: 0;
    padding: 0;
    border: 0;
  }


  .parallax-container {
    min-height: 280px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
    background-image: url("https://source.unsplash.com/Vrb_vtQAxJU"), url("https://source.unsplash.com/U6nlG0Y5sfs"), url("https://source.unsplash.com/MC2hOZsBsLg")) repeat fixed 100%;
  }

  .parallax-container {
    position: relative;
    overflow: hidden;
    height: 500px;
  }

  .parallax-container .parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .parallax-container .parallax img {
    opacity: 1;
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }


  ul li {
    list-style-type: initial;
  }

  @media only screen and (max-width : 992px) {
    .parallax-container .section {
      position: absolute;
      top: 40%;
    }

    #index-banner .section {
      top: 10%;
    }
  }

  @media only screen and (max-width : 600px) {
    #index-banner .section {
      top: 0;
    }
  }

  .parallax-container {
    position: relative;
    overflow: hidden;
    height: 500px;
  }

  .valign-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .icon-block {
    padding: 0 15px;
  }

  .icon-block .material-icons {
    font-size: inherit;
  }

  footer.page-footer {
    margin: 0;
  }
</style>


<body class="flex-column min-100-vh">

  <nav>
    {{#if loggedIn}}
    <a href="/dashboard">dashboard</a>
    <button id="logout" class="btn-no-style">logout</button>
    {{else}}
    <a href="/login">login</a>
    {{/if}}
  </nav>


  <nav>
    <div class="nav-wrapper blue lighten-3">
      <a href="/" class="brand-logo left">
        <i class="large material-icons">pets</i> Pawprint Chronicles</a>
      <a href="/" data-target="mobile-demo" class="right sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/login" id="login-btn">Login</a></li>
        <li><a href="/sign-up" id="signup-btn">Sign Up</a></li>

      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/main">Home</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/sign-up">Sign Up</a></li>

  </ul>

  <main class="col-auto">
    {{{body}}}
  </main>

  {{!--
  <div style="height:500px"></div> --}}


  <footer class="page-footer blue lighten-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Thanks For Stopping By!</h5>
          <p class="grey-text text-lighten-4">To get your dog featured on our site, email your favorite phots to us!
          </p>
          <p class="grey-text text-lighten-4">For any other inquiries, visit our Linkedin! </p>

        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Contact Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Email Us!</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Visit Hiba's Linkedin</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Visit Mallorie's Linkedin</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Visit Sams's Linkedin</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Visit Taylor's Linkedin</a></li>

          </ul>
        </div>
      </div>
    </div>



    <footer class="flex-row justify-center">

    </footer>



    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {{!--
    <script type="text/javascript" src="materialize-v0.97.0/materialize/js/materialize.min.js"></script> --}}
    {{!--
    <script type="text/javascript" src="/public/js/materialize.js"></script> --}}

    <script>
      $(document).ready(function () {
        $('.sidenav').sidenav();
        $('.parallax').parallax();
        $('.materialboxed').materialbox();
      });

    </script>
    <script src="/js/logout.js">
</body >

</html >