<div class="margin">
    <section class="parallax2">
        <div class="parallax-inner">

        </div>
    </section>
</div>


<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="parallax style=" z-index: 15;">
            <img src="https://source.unsplash.com/Vrb_vtQAxJU"
                style="transform: translate3d(-50%, 432.451px, 0px); opacity: 1; z-index: 15;"
                alt="Black and white pic of dog" class="responsive-img">
        </div>
        <div class="container">
            <br><br>
            <h1 class="header center pink-text text-lighten-4 ">Calling All Dog Lovers!</h1>
            <div class="row center">
                <h5 class="header col s12 light">Pawprint Chronicles is the one-stop place to read up on posts about
                    man’s
                    best friend!</h5>
            </div>
            <div class="row center">
                <a href="#" id="download-button" class="btn-large waves-effect blue lighten-3 hoverable">Read Our
                    Monthly
                    Newsletter</a>
            </div>
            <br><br>

        </div>
    </div>

</div>



<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center black-text"><i class="material-icons">business</i></h2>
                    <h5 class="center pink-text text-lighten-4 ">Best Dog Breeds for Apartments</h5>

                    <p class="light">Apartment dwellers have many dog breeds to choose from when selecting a pet. The
                        size of
                        your living space isn't the only consideration because many large breed dogs have lower activity
                        levels
                        and are more than happy to lounge on the sofa. There are dog breeds that require high energy and
                        plenty of
                        space, so they may not be best suited for a smaller apartment. In this blog we go over </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center black-text"><i class="material-icons">favorite</i></h2>
                    <h5 class="center pink-text text-lighten-4 ">Adopt Don't Shop</h5>

                    <p class="light">The Adopt, don't Shop campaign was started to bring public awareness to the plight
                        of
                        homeless animals and to encourage prospective pet owners to adopt from animal shelters and
                        rescue groups
                        as opposed to buying pets from on-line retailers or pet shops.
                        While there are many reasons to choose to adopt your next pet, one of the most important reasons
                        is to
                        ensure you are not supporting and inadvertently endorsing commercial breeding facilities (puppy
                        mills)
                        that supply pet stores and sell pets online. Puppy mills are massive "factory style" breeding
                        operations
                        where hundreds of dogs are kept in filthy, deplorable living conditions without proper food,
                        water,
                        veterinary care, or human interaction.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center black-text"><i class="material-icons">pets</i></h2>
                    <h5 class="center pink-text text-lighten-4 ">Caring for Your New Pet</h5>
                    <ul class="browser-default">
                        <li> Puppy-proof your home</li>
                        <li> Get the necessary puppy supplies</li>
                        <li> Plan your puppy’s diet &amp; exercise</li>
                        <li> Set up proper sleeping arrangements</li>
                        <li> Potty-train your puppy</li>
                        <li> Train for good behavior</li>
                        <li> Take your puppy to the vet</li>
                        <li> Provide supervision</li>
                        <li> Ensure plenty of socialization</li>
                        <li> Equip your puppy with a GPS dog tracker</li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
</div>


<div id="index-banner" class="parallax-container center-align">
    <div class="section no-pad-bot">
        <div class="parallax style=" z-index: 15; position: "sticky;">
            <img src="https://source.unsplash.com/U6nlG0Y5sfs"
                style="transform: translate3d(-50%, 432.451px, 0px); opacity: 1; z-index: 15;"
                alt="Black and white pic of dog" class="responsive-img">
        </div>
        <div class="container">
            <br><br>
            <div class="row middle">

                <h5 class="header col s12 light center-align">Read up on our latest posts</h5>
            </div>
            <div class="row center">
                <a href="/dashboard" id="download-button"
                    class="btn-large waves-effect blue lighten-3 hoverable center-align">Partake In Our Forum</a>
            </div>
            <br><br>

        </div>
    </div>

</div>


<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4 class="pink-text text-lighten-4"> Our Mission </h4>
                <p class="left-align light">Too often, shelters euthanize animals due to room constraints, but if more
                    people
                    adopted pets instead of buying them, the number of pets euthanized would lower dramatically.
                    When you adopt, not only do you save your loving new companion, but you make space for other animals
                    who
                    desperately need it, creating a domino effect of goodness. It is also a way to combat puppy mills!
                    “Puppy mill” sounds cute until you find out they are factory-style breeding facilities that often
                    prioritize
                    profit over animal welfare. Housed in poor conditions with little to no medical care, the animals in
                    these
                    mills suffer greatly. The puppies from these mills are often sick or traumatized and the mothers
                    discarded
                    once they’re no longer “profitable.”
                    When a family buys a dog from a pet store, it’s almost certainly a puppy mill dog. When you adopt,
                    you’re
                    saying no to an awful practice and keeping money out of their pockets.

                </p>
            </div>
        </div>

    </div>
</div>


<div id="index-banner" class="parallax-container center-align">
    <div class="section no-pad-bot">
        <div class="parallax style=" z-index: 15;">
            <img src="https://source.unsplash.com/MC2hOZsBsLg"
                style="transform: translate3d(-50%, 432.451px, 0px); opacity: 1; z-index: 15;"
                alt="Black and white pic of dog" class="responsive-img">
        </div>
        <div class="container">
            <br><br>
            <h1 class="header center pink-text text-lighten-4 "></h1>
            <div class="row center">
                <h5 class="header col s12 light center-align"> "Saving one dog will not change the world, but surely for
                    that
                    one dog, the world will change forever."
                    - Karen Davison.</h5>
            </div>

            <br><br>

        </div>
    </div>

</div>